@charset "utf-8";
$loyout-font-color: #e5e6f1;
$theme-color: #00438a;

$mainColor1: #2f7deb;
$mainColor2: #1a1a1a;
$subColor: #666666;
$mainBgColor: #f9f9f9;
$tableTitle: #f1f4f7;
$tableContentColor: #f9fbfd;
$boredColor: #bec3cc;
$successColor: #50d172;
$warningColor: #f58b3b;
$dangerColor: #f76379;
$primaryColor: #2f7deb;
$white: #ffffff;

$backgroundWhiteColor: #ffffff;

$hoveColor: #edf6ff; // hover 悬浮
$checkColor: #2b7eec; // check 选中
.button {
    color: #2f7deb;
}

@mixin global-font-color() {
    .success-color {
        color: $successColor;
    }
    .warning-color {
        color: $warningColor;
    }
    .danger-color {
        color: $dangerColor;
    }
    .primary-color {
        color: $primaryColor;
    }
}

@mixin global-bg-color() {
    .success-bg-color {
        background-color: $successColor;
    }
    .warning-bg-color {
        background-color: $warningColor;
    }
    .danger-bg-color {
        background-color: $dangerColor;
    }
    .primary-bg-color {
        background-color: $primaryColor;
    }
}
